// _base.scss
// global settings for layout and different elements 

*{
	@include box-sizing(border-box);
}

button {
	// fix chrome focus blue border 
	&:focus { outline: 0; }
}

// .hide { display: none;}

.magic-box{
	position: relative;

	width: $boxBorderLen;
	height: $boxBorderLen;
	background: $davyGrey;
	@include border-radius(5px);

	@include box-shadow(rgba(0,0,0,0.3) 0 0 7px);
}

.magic-box-upper-wrap {
	width: $boxBorderLen;
	height: $albulmSize;
}

.icon{
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;
	padding-right: 8px;

	&:hover{ cursor: pointer; }
}

.mbox-controller-wrap-wrap {
	width: 230px;

	float: right;
}

.mbox-controller-wrap-wrap:after, .mbox-controller-wrap-wrap:before {
	clear: both;
}

.mbox-controlBtn-wrap-wrap{
	width: 230px;
	height: 18px;
	left: $albulmSize;
	padding: 0px 10px 0px 15px;
}

.mbox-album-cover-wrap{
	height: $albulmSize;
	width: $albulmSize;
	background: $platinum;

	@include box-shadow(rgba(0,0,0,.3) 0 0 5px); 
}

.mbox-share-icon{
	margin-left: 7px;
}

svg{
	fill: $romanSilver;
	// set transition property of svg icon
	@include transition-property(all);
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);

	&:hover{
		fill: $platinum;
	}
}

.mbox-volume-bar {
	width: $volumBarLen;
	height: $volumBarHeight;
	background: $romanSilver;
	margin-top: 6px;

	position: relative;

	&:hover { cursor:pointer; }
}

.mbox-volume-bar-inner {
	display: inline-block;
	position: absolute;
	height: $volumBarHeight;
}

.mbox-play-info-wrap {
	position: relative;
	height: 11px;
	width: 100%;
}

.mbox-play-progress-wrap {
	display: inline-block;
	position: absolute;
	width: 75%;
	height: $progressBarHeight;
	top:0;
	bottom:0;
	margin: auto;

	background: $romanSilver;

	&:hover{ cursor: pointer; }
}

.mbox-play-progress-inner {
	position: absolute;
	height: $progressBarHeight;
}

.mbox-play-time {
	display: inline-block;
	position: relative;
	
	height: 11px;
	float: right;
	width: 25%;

	color: $romanSilver;

	left:0;
	right:0;
	margin: auto;
}

.mbox-played-time {
	font-size: 0.3rem !important;
	position: absolute;
	left: 7px;
}

.mbox-songinfo {
	width: 230px;
	margin: 10px auto;
}

.mbox-song-info {
	font-size: $songinfoFontSize;
	margin: 0 auto;
}

.mbox-album-name {
	font-size: $albumnameFontSize;
	margin: 0 auto;
}

.mbox-album-name, .mbox-song-info {
	display: inline-block;

	width: 200px;
	height: 13px;

	padding-left: 15px;

	font-family: $songinfoFontType;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.mbox-multidisplay-area {
	position: relative;

	height: 207px;
	width: 100%;

	padding-top: 10px;
	padding-bottom: 10px;

	font-family: $songinfoFontType;
	font-size: 0.7rem;
	font-weight: 100;

	color: $romanSilver;

	text-align: center;
	overflow: scroll;
}

.mbox-multidisplay-area-wrap {
	position: relative;
	width: 300px;
	height: 219px;
}
/**
.mbox-multidisplay-area-wrap:before {
	content: '';
	position: absolute;

	width: 100%;
	height: 40px;
	top: 0;
	left: 0;

	background: linear-gradient($davyGrey, #fff);
	background: linear-gradient($davyGrey, rgba(0,0,0,0));
}
*/
.mbox-multidisplay-area-wrap:after {
	content: '';
	position: absolute;

	width: 100%;
	height: 40px;
	top: 170px;
	left: 0;

	background: linear-gradient(#fff, $davyGrey);
	background: linear-gradient(rgba(0,0,0,0), $davyGrey);
}

/* for the sandwich button */
.mbox-setting-trigger {
	display: none;
}

.mbox-setting-wrap {
	position: absolute;

	width: 40px;
	height: 40px;

	bottom: 0;
	right: 0;

	&:hover{
		cursor: pointer;
	}
}

.mbox-setting-icon {
	position: relative;

	width: 40px;
	height: 40px;
}

.mbox-setting-bars {
	position: absolute;
	top: 9px;
	left: 8px;
}

.toggle-bar {
	height: 3px;
	width: 1.5em;
	background: $davyGrey;
	margin-top: 3px;
	transition: all 0.3s ease-in-out;

	&:hover { cursor: pointer;}
}

#trigger:checked + .mbox-setting-bars .setting-first-bar {
	margin-top: 10px;
	transform: rotate(-45deg);
}

#trigger:checked + .mbox-setting-bars .setting-second-bar {
	opacity: 0;
	transform: rotate(-45deg);
}

#trigger:checked + .mbox-setting-bars .setting-third-bar {
	margin-top: -9px;
	transform: rotate(45deg);
}

/* menu area */
.mbox-setting-item {
	position: absolute;
	width: 40px;
	height: 40px;
}

.mbox-menu-icon {
	position: relative;

	top: 12px;
	left: 12px;
	background: transparent;
	border: none;
	margin: 0;
	padding: 0;


	&:hover { cursor: pointer;}
}

.mbox-lovelist-wrap {
	bottom: 0;
	right: 40px;
}

.mbox-lyric-show-wrap {
	bottom: 40px;
	right: 40px;
}

.mbox-playlist-wrap {
	bottom: 40px;
	right: 0;
}

/* dealing with playlist displaying */
.mbox-multodisplay-playlist-area {
	position: relative;

	height: 207px;
	width: 100%;

	padding-top: 10px;
	padding-bottom: 10px;

	font-family: $songinfoFontType;
	font-size: 0.7rem;
	font-weight: 100;

	color: $romanSilver;
}

.mbox-multidisplay-playlist-ul {
	margin-top: 10px;
}

.mbox-row-buttons {
	float: right;
}



.mbox-song-row {
	display: inline-block;
	position: relative;
	width: 280px;
	height: 25px;

	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: $romanSilver;

	margin-left: 10px;
	margin-right: 10px;
}
.mbox-song-row-songinfo {
	display: inline-block;
	position: absolute;

	top: 5px;

	height: 13px;
	width: 200px;

	padding-left: 15px;
	padding-right: 15px;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 0.7rem;
	font-family: $songinfoFontType;
	color: $romanSilver;
}

.mbox-song-row-setting-buttons {
	display: inline-block;
	position: absolute;

	top: 4px;

	right: 0;
	width: 80px;

}






