// some color schema issue 
$davyGrey: #4a525a;
$platinum: #dff3e3;
$bubbles: #e5fcf5;
$bubbleGum: #feced4;
$romanSilver: #828a95;

// the length of box border 
$boxBorderLen: 300px;
$albulmSize: 70px;
$volumBarLen: 50px;
$volumBarHeight: 2px;
